@page
@model Razor_Pages.Pages.CreateModel
<h2>Добавление нового пользователя</h2>
<form method="post">
    <p>
        <label>Имя</label><br />
        <input name="name" />
    </p>
    <p>
        <label>Возраст:</label><br />
        <input name="age" type="number" />
    </p>
    <input type="submit" value="Отправить" />
</form>